<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>README Instagram Style App</title>
    <link href="styles.css" rel="stylesheet">
</head>
<html>
<body>
<h1>README Instagram Style App </h1>

<br><b>
    a. Describe where did you use asynchronous code?:
</b>
<br>
i. in item 2, statExpress, images.js I used forEach async function to iterate all the images and create DOM elements
accordingly.
<br>
ii. in item 3, calcExpress.test.js I used parallel execution of the mocha test using 'mocha.parallel' module.
<br><br><b>
    b. What was easy/hard in this ex?
</b>
<br>
i. it was difficult to understand how to work with express-session so I used my own implementation.
<br>
ii. it was each to write the express server because I am familiar with this module.
<br>
iii. Node.js is a great framework!
</p>

</body>
</html>
